h1 {
    color: black;
    font-family: 'Roboto Slab',
    serif;
}

.black {
    color: black;
}

footer {
    font-size: 25px;
}

li {
    list-style: none;
    display: inline;
}

body {
    background-color: bisque;
    background-image: url("../img/rap_backg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box {
    background-color: #F5F2B8;
    width: 150px; 
    height: 150px;
    border: 1px rgb(0, 182, 39) solid;
    /* border-bottom: solid 5px black; */
    border-radius: 10px;
    margin: 50px 30px 25px 5px;
    padding: 150px 50px;


} 

.cajaPrincipal {
    background-color:#6dff33;
    border: 2px solid black;
    width: 100%;
    height: 620px;

}

 .cajita {
    background-color: grey;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: inline-block;
} 


.usoDisplay {
    display: block;
} 
