header {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: rgb(38, 93, 222);
    position: sticky;
    top: 0;
    grid-area: header;
    border-bottom: 1px solid rgb(0, 0, 0);
    

    ul {
        list-style: none;
        font-weight: bolder;
    }

    li,
    a {
        color: rgb(3, 21, 56);
        font-size: 20px;
        font-weight: 200;
        text-decoration: none;
        text-transform: uppercase; 
        text-decoration: none;
        
    }

    h3 {
        color: $colorHTres;
        font-size: x-large;
    }


}